@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #F6F5F1;
  --background-start-rgb: #F6F5F1;
  --background-end-rgb: #F6F5F1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #F6F5F1;
    --background-start-rgb: #F6F5F1;
    --background-end-rgb: #F6F5F1;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #F6F5F1;
}
